
body
{background-color: rgb(190, 240, 221);}

#stats
{text-align: center; color:rgb(41, 167, 24); 
padding: 10px; border: double 3px black; 
margin-left: 100px; margin-right: 100px; margin-top: 30px}

#stats h1
{font-weight: 400;}

#image-text
{margin: 50px}

#middle
{float: right;
width: 350px; padding: 10px; 
border: solid 3px rgb(228, 134, 11)}

#middle h3
{text-align: center}

#DC-pic
{margin-top:55px; border-radius: 50%; border: solid 5px black}

#desc
{margin: 30px; padding: 30px; color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    border: solid 5px white}

